.navbar{
    background-color: #fafafa;
    padding: 0% !important;
    
}
.container-fluid .navbar-nav .nav-item .nav-link {
    /* background-color: red; */
    color: #133d59;
    font-size: 14px;
    font-weight: 500;
   
    
    
}
.nav-link {
    position: relative;
    overflow: hidden;
}
.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #133d59;
    transform: translateX(-120%);
    transition: transform 0.3s ease-in-out;
}
.nav-link:hover::after,
.nav-link:focus::after {
    transform: translateX(0);
}
.container-fluid .navbar-brand{
    margin: 0%;
    padding: 0.1%;
}

.container-fluid .navbar-brand img{
    height: 60px;
    width: 200px;
    /* border-radius: 50%; */
    /* background-color: red; */

}
body {
    background-color: #133d59;
    padding: 0;
    margin: 0;


    
}
header{
    padding: 0;
    margin: 0;
}

/* .main_div{
    height: 500px;
    width: 100%;
    background-color: #133d59;
} */
 


.container {
    padding: 40px;
    padding-top: 80px;
    /* background-color: aqua; */
}
.col- h1 {
    font-size: 1.5em;
    font-weight: 900;
    
    
}
.col-md-4 h1 {
    color: #fafafa;
}
.col-md-4 p {
    font-size: 1em;
    font-weight: 700;
    margin-top: 20px;
    color: #fafafa;
}
.btn1 {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e9c00b;
    color: rgb(46, 44, 44);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}
.btn1:hover {
    background-color: #dd9b45;
}
.container .col-md-6{
    padding-left: 15%;
}




@media (max-width: 768px) {
    .col-4, .col-8 h1, .col-6 p, .btn {
        font-size: 1em;
    }
}


/* client container css start  */
.Client-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    /* align-items: center; */
    justify-content: center;
    background-color: #fafafa;
    align-items: center;
    


}


.client-box{
    height: 9rem;
    gap: 5%;
    width: fit-content;
    /* background-color: aqua; */
    padding: 1rem;
    /* margin-bottom:5%; */
}

.client-box img{
    height: 100%;
    width: 100%;
}


/* .check{
    background-color: #014B53;
    height: 400px;
    width: 100%;
} */

.solution-container {
    padding: 40px;
    padding-top: 80px;
    background-color: #014B53;
}
.solution-container .col- h1 {
    font-size: 1.5em;
    font-weight: 900;
    
    
}
.solution-container .col-md-4 h1 {
    color: #fafafa;
}
.solution-container .col-md-6 p {
    font-size: 1em;
    font-weight: 700;
    margin-top: 20px;
    color: #fafafa;
}

.solution-container .container .col-md-6{
    padding-left: 15%;
}




@media (max-width: 768px) {
    .col-4, .col-8 h1, .col-6 p, .btn {
        font-size: 1em;
    }
}