.navbar{
    background-color: #fafafa;
    padding: 0% !important;
    
}
.container-fluid .navbar-nav .nav-item .nav-link {
    /* background-color: red; */
    color: #133d59;
    font-size: 14px;
    font-weight: 500;
   
    
    
}
.nav-link {
    position: relative;
    overflow: hidden;
}
.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #133d59;
    transform: translateX(-120%);
    transition: transform 0.3s ease-in-out;
}
.nav-link:hover::after,
.nav-link:focus::after {
    transform: translateX(0);
}
.container-fluid .navbar-brand{
    margin: 0%;
    padding: 0.1%;
}

.container-fluid .navbar-brand img{
    height: 60px;
    width: 200px;
    /* border-radius: 50%; */
    /* background-color: red; */

}
body {
    background-color: #133d59;
    padding: 0;
    margin: 0;


    
}
header{
    padding: 0;
    margin: 0;
}